body, a.forumtitle, a.topictitle, li.header dt, li.header dd, h3 {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ------- Banner ------- */
a.logo {
	display: block;
	text-decoration: none;
	text-align: left;
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	color: #EAEAEB;
	padding: 17px 18px;
	background: url(./images/logo-text-bg.png) no-repeat 0px 0px;
	width: 377px;
}

a.logo > img.logo {
	float: left;
}

a.logo > span.title {
	display: block;
	font-size: 26pt;
	letter-spacing: 0.03em;
	text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.8);
	padding: 0px 5px 0px 85px;
}

a.logo > span.description {
	display: block;
	font-size: 8pt;
	letter-spacing: 0.02em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	padding: 0px 5px 5px 100px;
}


/* ------- Forums ------- */
.navbar > .inner > ul > li > a > i, ul#nav-footer > li.breadcrumbs > span.crumb > a > i, .copyright a {
	color: #EA8708;
}

.bubble-count {
	margin: 0 20px;
	padding: 4px 0;
	font-weight: 600;
	color: rgba(76,93,119,1);
}

.index-footer li.row {
	padding: 0 20px;
}



/* ------- Subforums & Moderators ------- */
a.subforum, .forumlist_mods a {
	display: inline-block !important;
	margin-bottom: 5px;
	border-radius: 15px;
	background: rgba(0,0,0,.05);
	padding: 5px 12px 5px 12px !important;
	font-weight: 600;
}

a.subforum:hover, .forumlist_mods a:hover {
	text-decoration: none !important;
	background: rgba(0,0,0,.1);
}

a.subforum i, .forumlist_mods a i {
	display: none
}

p.responsive-center.time {
	display: none
}
