@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

*, a.forumtitle, a.topictitle, li.header dt, li.header dd, h3 {
	font-family: 'Noto Sans', sans-serif;
}

.navbar > .inner > ul > li > a > i, ul#nav-footer > li.breadcrumbs > span.crumb > a > i, .copyright a {
	color: #EA8708;
}

.bubble-count {
	margin: 0 20px;
	padding: 4px 0;
	font-weight: 600;
	color: rgba(76,93,119,1);
}

.index-footer li.row {
	padding: 0 20px;
}



/* ------- Subforums & Moderators ------- */
a.subforum, .forumlist_mods a {
	display: inline-block !important;
	margin-bottom: 5px;
	border-radius: 15px;
	background: rgba(0,0,0,.05);
	padding: 5px 12px 5px 12px !important;
	font-weight: 600;
}

a.subforum:hover, .forumlist_mods a:hover {
	text-decoration: none !important;
	background: rgba(0,0,0,.1);
}

a.subforum i, .forumlist_mods a i {
	display: none
}

p.responsive-center.time {
	display: none
}
