img.bbcode-screenshot {
	max-width: 100%;
	box-sizing: border-box;
	padding: 6px 30px 30px 30px;
	filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
}

a.bbcode-button > img {
	max-width: 100%;
	box-sizing: border-box;
}

img.bbcode-icon {
	vertical-align: sub;
}

iframe.bbcode-youtube, iframe.bbcode-pastebin {
	max-width: 100%;
	box-sizing: border-box;
	padding: 20px 60px 20px 60px;
	filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
}

h4.bbcode-h {
	border-bottom: thin dotted #C6B9F6C7;
	margin-bottom: 8px;
}

h4.bbcode-h a {
	font-size: large;
	text-decoration: none;
	margin: 2px 0px;
}

span.bbcode-small {
	color: #808080;
	font-size: 75%;
	line-height: 116%
}

div.bbcode-bash > pre,
div.bbcode-error > pre,
div.bbcode-format > pre,
div.bbcode-groovy > pre,
div.bbcode-output > pre,
div.bbcode-properties > pre,
div.bbcode-text > pre {
	margin: 0;
	padding: 0;
	background: none;
}

div.bbcode-output {
	background: #323338;
	border-color: #545657;
	margin: 5px 5px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.1);
}

div.bbcode-bash > pre > code {
	color: #2E8B57;
}

div.bbcode-error > pre > code {
	color: #BF0000;
}

div.bash > pre > code,
div.bbcode-format > pre > code,
div.bbcode-groovy > pre > code,
div.bbcode-properties > pre > code,
div.bbcode-text > pre > code {
	color: #2E8B57;
	max-height: 300px;
}

div.bbcode-output > p {
	color: #DBDEE1;
}

div.bbcode-output > p > a {
	color: #DD4A68;
}

div.bbcode-output > pre > code {
	font-size: 9pt;
	color: #DBDEE1;
	max-height: 460px;
	overflow: visible;
	text-shadow: none;
}

code {
	text-shadow: none !important;	
}

code span.token {
	background: none !important;
}

span.token.binding > span.token.global {
	color: #0066FF;
}

span.token.binding {
	font-weight: bolder;
}

code.language-format span.token.punctuation.brace-level-1 {
	color: #5F97B6;
	font-weight: bolder;
}

code.language-format span.token.punctuation.brace-level-2 {
	color: #00AB87;
}

code.language-format span.token.punctuation.brace-level-3 {
	color: #4171DC;
}

code.language-format span.token.punctuation.brace-level-4 {
	color: #9400FF;
}
